---
import Layout from '~/layouts/PageLayout.astro';
import MyClassesComponent from '~/components/account/MyClasses.jsx';

const metadata = { title: 'All Booked Sessions' };
---

<Layout metadata={metadata}>
  <section class="max-w-3xl mx-auto my-10 p-6 border rounded-2xl shadow space-y-6">
    <h2 class="text-2xl font-bold text-center mb-4">📋 My Scheduled Training Sessions</h2>
    <MyClassesComponent client:load />
  </section>
</Layout>
